Quest_08/training_1/*
.Trash-0/*
MainQuest01/data/*
*.h5
deep-learning-with-python-2nd
aiffel_quest
*.v2
*.zip
*/data
kitti
checkpoint
checkpoints
*.jpg
*.mdb
*.tfrecord
widerface
tfrecords_mpii
*.json
*.tar.gz
